<!doctype html>
<html ng-app="franz">
    <head>
        <title>Franz</title>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-messages.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
        <script src="/static/js/franz.js"></script>
        <link href="/static/css/franz.css" rel="stylesheet">
    </head>
    <body>
        <h2>Write your message and <span>&nbsp;Franz&nbsp;</span> will send it</h2>
        <div class="container" ng-controller="FranzCtrl">
            <form name="messageform" ng-submit="sendMessage()">
                <textarea name="message" id="message" class="rounded-box" autofocus cols="80" rows="5" ng-model="messageText" ng-required="true" ng-minlength="{{ minimumLength }}" ng-maxlength="{{ maximumLength }}"></textarea>
                <button type="submit" class="lightgrey rounded-box" ng-disabled="working || messageform.$invalid">Send</button>
                <div role="alert" ng-messages="messageform.message.$error">
                    <!--
                    <div class="validation-error" ng-message="required">You did not enter a message</div>
                    -->
                    <div class="validation-error" ng-message="minlength">Your message is too short</div>
                    <div class="validation-error" ng-message="maxlength">Your message is too long</div>
                </div>
                <div class="validation-error" role="alert" ng-show="errorSending">
                    [{{ date | date:'dd-MM-yyyy , hh:mm:ss' }}] Your message could not be sent!
                </div>
                <label for="message" ng-show="messageText.length">{{ messageText.length }} / {{ maximumLength }}</label>
            </form>
            <img class="spinner" src="/static/img/spinner.gif" alt="Loading" ng-class="{working: working}"/>
            <ul class="lightestgrey rounded-box" ng-show="messages.length">
                <li ng-repeat="t in messages" ng-class="{done: t.Done}">{{ t.Content }}</li>
            </ul>
        </div>
    </body>
</html>
